* { margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box; }
html{
  font-size: 16px;
}
body{
  background: url('../img/micro_carbon.png') repeat;
  color: #fff;
}
h1, h2{
 font-family: Exo, sans-serif;
 font-weight: bolder;
 font-style: italic;
}
header{
  text-align: center;
  height: 300px;
}
main{
  width: 95%;
  margin: auto;
  background: rgb(189, 93, 13);
}
==========================================================

nav.main-nav{
  width: 90%;
  margin: auto;
  text-align: center;
}
/*===========================================================
                    FONT FAMILY
=============================================================*/

@font-face {
  font-family: Exo;
  src: url(fonts/Exo-Light.otf);
  font-weight: lighter;
}
@font-face {
  font-family: Exo;
  src: url(fonts/Exo-LightItalic.otf);
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: Exo;
  src: url(fonts/Exo-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Exo;
  src: url(fonts/Exo-BoldItalic.otf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Exo;
  src: url(fonts/Exo-ExtraBold.otf);
  font-weight: bolder;
}
